/*
*   首页样式
**/

/*头部样式*/

header{
    color: #000;
}
header [class^='col-sm'], header [class^='col-xs']{
    padding:0 ;
    line-height: 32px;
}
header #location{
    overflow: hidden;
    text-overflow: ellipsis;
}

header .form-group{
    margin: 0;
}
header form img{
    width: 18px;
    height: 18px;
}
header #sec-btn{
    border: 0;
    outline: none;
    background-color:inherit ;
    position: absolute;
    right: 0;
    bottom: 0;
}

/*内容样式*/

/*分类导航*/
#menu-wrap{
    height: 46px;
    width: 100%;
    background-color: #fff;
}
.menu{
    width: 100%;
    z-index: 1;
    background-color: #fff;
}
.menuFixed{
    position: fixed;
    top:0;
    left:0;
}
nav ul li.active a{
    border-bottom: 3px solid #ffda45;
}
.show-goods{
    margin-top: 4px;
    height: 800px;
    background-color: #00CC66;
}

