<!DOCTYPE html>
<html>
<head>
	<title>拍卖商品审核详情</title>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <link rel="stylesheet" href="__PUBLIC__/static/resetcss/normalize.css">
    <link rel="stylesheet" href="__PUBLIC__/static/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="__PUBLIC__/Admin/mycss/goodsDetail.css">
    <style type="text/css">
    	.btn-box{
    		margin-top: 30px;
    	}
    	.btn-box button{
    		border: 0;
    		padding: 8px 23px;
    	}
    </style>
    <script src="__PUBLIC__/static/jquery/jquery.min.js"></script>
    <script src="__PUBLIC__/static/bootstrap/js/bootstrap.min.js"></script>
    <script type="text/javascript" src='__PUBLIC__/static/layer/layer.js'></script>
    <script>
    	var url = "{:U('Admin/PendGoods/pPendGoods')}";
    	var urlPass = "{:U('Admin/PendGoods/pass')}";
    	var urlReject = "{:U('Admin/PendGoods/reject')}";
    </script>
    <script type="text/javascript" src="__PUBLIC__/Admin/myjs/pPendGoods.js"></script>
</head>
<body >
	<h4 style="padding-left: 30px;"><a href="{:U('Admin/PendGoods/pPendGoods')}">返回</a></h4>
	<hr>
	<div class="container">
		<foreach name='goods' item='vo'>
			<div class="row">
				<table class="table">
					<tr style="height:40px;background-color:#2A3542;color:#fff; ">
						<th class="text-center">商品发布人</th>
						<th class="text-center">商品状态</th>
						<th class="text-center">商品分类</th>
						<th class="text-center">起拍价</th>
						<th class="text-center">开拍时间</th>
						<th class="text-center">结束时间</th>
						<th class="text-center">加价幅度</th>
						<th class="text-center">手续费</th>
						<th class="text-center">保证金</th>
						<th class="text-center">商品发布时间</th>
					</tr>
					<tr>
						<td class="text-center">{$huser}</td>
						<td class="text-center">{$status[$vo['p_status']]}</td>
						<td class="text-center">{$classify[$vo['c_id']]}</td>
						<td class="text-center">{$vo['p_bprice']}</td>
						<td class="text-center">{$vo['p_btime']}</td>
						<td class="text-center">{$vo['p_etime']}</td>
						<td class="text-center">{$vo['p_step']}</td>
						<td class="text-center">{$vo['p_procedure']}</td>
						<td class="text-center">{$vo['p_bail']}</td>
						<td class="text-center">{$vo['p_time']}</td>
					</tr>
				</table>
			</div>
			<div class="row">
				<h4 class="text-center" style="padding:7px;background-color:#2A3542;color:#fff; ">商品详情</h4>
				<div class="col-lg-12 col-md-12">
					<div class="row">
						<div class="col-md-2 col-lg-2 text-center" >
							<p class="lead">商品名称</p>
						</div>
						<div class="col-md-10 col-lg-10">
								<p style="line-height: 28px;">{$vo['p_name']}</p>
							<hr>
						</div>
					</div>
					<div class="row">
						<div class="col-md-2 col-lg-2 text-center" >
							<p class="lead">商品详情</p>
						</div>
						<div class="col-md-10 col-lg-10">
							<p style="line-height: 28px;">{$vo['p_info']}</p>
							<hr>
							<div class="row">
								<foreach name='img' item='io'>
									<img src="{$io['n_img']}" style='width:300px;margin:10px' />
								</foreach>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="row btn-box">
				<input type='hidden' class='num' pid="{$vo['p_id']}">
				<div class="col-md-3 col-md-offset-3 text-center">
					<button class="btn-success pass">通过</button>
				</div>
				<div class="col-md-3 text-center">
					<button class="btn-warning reject">驳回</button>
				</div>
			</div>
		</foreach>
	</div>
</body>
</html>