<!DOCTYPE html>
<html>
<head>
	<title>客服</title>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <link rel="stylesheet" href="__PUBLIC__/static/resetcss/normalize.css">
    <link rel="stylesheet" href="__PUBLIC__/static/bootstrap/css/bootstrap.min.css">
	<link rel="stylesheet" type="text/css" href="__PUBLIC__/Home/css/server/rl_exp.css">
	<link rel="stylesheet" type="text/css" href="__PUBLIC__/Home/css/server/serverStyle.css">
	<link rel="stylesheet" type="text/css" href="__PUBLIC__/Home/css/chat/chatStyle.css">
	<link rel="stylesheet" href="__PUBLIC__/static/loading/css/loading.css">
	<script src='//cdn.bootcss.com/socket.io/1.3.7/socket.io.js'></script>
	<script src='//cdn.bootcss.com/jquery/1.11.3/jquery.js'></script>
    <script src="__PUBLIC__/static/jquery/jquery.min.js"></script>
    <script src="__PUBLIC__/static/bootstrap/js/bootstrap.min.js"></script>
    <script src="__PUBLIC__/static/layer/mobile/layer.js"></script>
    <script src="__PUBLIC__/static/vue/vue.js"></script>
    <script type="text/javascript">
    	function MVC(p,c,a){
    		return "{:U('"+p+"/"+c+"/"+a+"')}";
    	}
        var path = "__PUBLIC__/";
    </script>
    <script src="__PUBLIC__/static/loading/js/Loading.js"></script> <!--页面加载等待-->
    <script type="text/javascript" src="__PUBLIC__/Home/js/server/server.js"></script>
	<link rel='stylesheet' href='__PUBLIC__/static/sendMsg/css/animate.min.css'>
	<link rel="stylesheet" href="__PUBLIC__/static/sendMsg/css/notification.css">
	<script src="__PUBLIC__/static/sendMsg/js/notification.js"></script>
	<script src="__PUBLIC__/Home/static/push.js"></script>
</head>
<body >
<div >
	<header class="navbar-fixed-top">
		<div class="container">
			<!-- <div class="row">
				<div class="col-xs-12 col-sm-12">
					<h4 class="text-center">客服</h4>
				</div>
			</div> -->
			<div class="row server-header">
				<div class="col-sm-3 col-xs-3">
					<img src="__PUBLIC__/Home/img/xianyu/aliuser_custom_head.png" class="img-responsive">
				</div>
				<div class="col-sm-8 col-xs-8 text-center">
					<h4>客服MM</h4>
				</div>
				
            </div>
		</div>
	</header>
	<!-- 中间 -->
	<div class="container" id="content">
		<div class="row">
			<div id="chat" class="col-xs-12 col-sm-12">
			</div>
		</div>
		
	</div>
	<!-- 底部 -->
	<footer class="navbar-fixed-bottom" id="footer">
		<div class="container">
			<div class="row ">
				<div class="col-sm-8 col-xs-8" style="padding-right: 0">
					<div contenteditable="true" name=""   id="send-input">
					</div>
				</div>
				<div class="col-sm-4 col-xs-4 text-center send-btn-box">
					<div class="row">
						<div class="col-xs-5 col-sm-5">
							<img src="__PUBLIC__/Home/img/xianyu/comui_emoji.png" class="emoji-btn" id="emojiClick" >
						</div>
						<div class="col-xs-7 col-sm-7">
							<button class="send-btn" id="sendClick" style="display: none">发 送</button>
							<img src="__PUBLIC__/Home/img/xianyu/message_gv_action_more.png" class="add-btn" id="addPicClick" >
						</div>
					</div>
				</div>

			</div>
		</div>
	</footer>
</div>

	<div class="rl_exp" id="rl_bq" style="display:none;">
		<ul class="rl_exp_tab clearfix">
			<li><a href="javascript:void(0);" class="selected">默认</a></li>
			<li><a href="javascript:void(0);">拜年</a></li>
			<li><a href="javascript:void(0);">浪小花</a></li>
			<li><a href="javascript:void(0);">暴走漫画</a></li>
		</ul>
		<ul class="rl_exp_main clearfix rl_selected"></ul>
		<ul class="rl_exp_main clearfix" style="display:none;"></ul>
		<ul class="rl_exp_main clearfix" style="display:none;"></ul>
		<ul class="rl_exp_main clearfix" style="display:none;"></ul>
		<a href="javascript:void(0);" class="close">×</a>
	</div>
</body>
</html>