<!DOCTYPE html>
<html class="um landscape min-width-240px min-width-320px min-width-480px min-width-768px min-width-1024px">
    <head>
        <title></title>
        <meta charset="utf-8">
        <meta name="viewport" content="target-densitydpi=device-dpi, width=device-width, initial-scale=1, user-scalable=no, minimum-scale=1.0, maximum-scale=1.0">
        <link rel="stylesheet" href="__PUBLIC__/Home/css/static/appcan/fonts/font-awesome.min.css">
        <link rel="stylesheet" href="__PUBLIC__/Home/css/static/appcan/ui-box.css">
        <link rel="stylesheet" href="__PUBLIC__/Home/css/static/appcan/ui-base.css">
        <link rel="stylesheet" href="__PUBLIC__/Home/css/static/appcan/ui-color.css">
        <link rel="stylesheet" href="__PUBLIC__/Home/css/static/appcan/appcan.icon.css">
        <link rel="stylesheet" href="__PUBLIC__/Home/css/static/appcan/appcan.control.css">
        <link rel="stylesheet" href="__PUBLIC__/Home/css/reg/reg.css">
    </head>
    <body class="" ontouchstart>
        <div class="bc-bg" tabindex="0" data-control="PAGE" id="Page">
            <div class="uh bc-head  ubb bc-border" data-control="HEADER" id="Header">
                <div class="ub">
                    <div class="nav-btn" id="nav-left">
                        <div class="fa fa-1g ub-img1"></div>
                    </div>
                    <h1 class="ut ub-f1 ulev-3 ut-s tx-c" tabindex="0">登录</h1>
                    <div class="nav-btn" id="nav-right">
                        <div class="fa  fa-1g  ub-img1"></div>
                    </div>
                </div>
            </div>
            <div class="ub ub-ver ub-ac ub-con bc-bg" data-control="FLEXBOXVER" id="ContentFlexVer">
<div class="ub ub-ver  ub-fh uinn-4a">
    <div class="uinn-a1">
            <div class="uba b-gra3 uc-a1 c-wh ub uinn-a7 ub-ac">
                <div class="ulev-app1 umw4">
                    邮箱
                </div>
                <div class="ub ub-ac umh5 ub-f1">
                    <div class="uinput ub ub-f1">
                        <input placeholder="example@qq.com" type="text" class="ub-f1">
                    </div>
                </div>
            </div>
            <div class="uba b-gra3 uc-a1 c-wh ub uinn-a7 ub-ac umar-at1">
                <div class="ulev-app1 umw4">
                    用户名
                </div>
                <div class="ub ub-ac umh5 ub-f1">
                    <div class="uinput ub ub-f1">
                        <input placeholder="Jack" type="text" class="ub-f1">
                    </div>
                </div>
            </div>
            <div class="uba b-gra3 uc-a1 c-wh ub uinn-a7 ub-ac umar-at1">
                <div class="ulev-app1 umw4">
                    密码
                </div>
                <div class="ub ub-ac umh5 ub-f1">
                    <div class="uinput ub ub-f1">
                        <input placeholder="请输入密码" type="password" class="ub-f1">
                    </div>
                </div>
            </div>
            <div class="uba b-gra3 uc-a1 c-wh ub uinn-a7 ub-ac umar-at1">
                <div class="ulev-app1 umw4">
                    确认密码
                </div>
                <div class="ub ub-ac umh5 ub-f1">
                    <div class="uinput ub ub-f1">
                        <input placeholder="请重复输入密码" type="password" class="ub-f1">
                    </div>
                </div>
            </div>
            <div class="ub ub-ver">
                <div class="ub ub-pe uinn-a6 ulev-4">
                    <div class="sc-text">
                        我同意
                    </div>
                    <div class="sc-text-active">
                        用户服务协议
                    </div>
                </div>
                <div class="uinn-at1">
                    <div class="button ub ub-ac bc-text-head ub-pc bc-btn"  id="submit">
                        注册
                    </div>
                </div>
            </div>
        </div></div>
        <div class="uinn-4b"></div>
        </div>
        </div>
        <script src="__PUBLIC__/Home/js/static/appcan/appcan.js"></script>
        <script src="__PUBLIC__/Home/js/static/appcan/appcan.control.js"></script>
        <script src="__PUBLIC__/Home/js/static/appcan/appcan.scrollbox.js"></script>
        <script src="__PUBLIC__/Home/js/static/appcan/template.import.js"></script>
        <script src="__PUBLIC__/Home/js/static/appcan/appcan.listview.js"></script>
        <script src="__PUBLIC__/Home/js/static/appcan/appcan.optionList.js"></script>
        <script src="__PUBLIC__/Home/js/static/appcan/appcan.slider.js"></script>
        <script src="__PUBLIC__/Home/js/static/appcan/appcan.tab.js"></script>
        <script src="__PUBLIC__/Home/js/static/appcan/appcan.treeview.js"></script>
        <script src="__PUBLIC__/Home/js/reg/reg.js"></script>
    </body>
</html>