header{
	width: 100%;
	height: 72px;
	padding: 15px 10px 5px;
	border-bottom: 1px solid #ddd;
	position: fixed;
	top: 0;
	left: 0;
	z-index:9000;
	background-color:#fff;
}
[v-cloak] {
  display: none;
}
header img.img-head{
    width: 52px;
    max-height: 52px;
}
.user-info p{
	margin: 0;
	line-height: 23px;
}
.user-info p span{
	display: inline-block;
	vertical-align: middle;
}
.user-info p:nth-child(1) .nick{
	font-size: 16px;
}
.user-info p:nth-child(1) span.icon img{
	width: 15px;
	max-height:15px;
	vertical-align: middle;
}
.user-info p:nth-child(2) span.icon img{
	width: 14px;
	max-height:14px;
}
.user-info p:nth-child(2) span{
	font-size:12px;
}

/* �м���Ʒ��Ϣ */
#content{
	padding-top: 72px;
}


/* �ײ��̶�������ť */
.kb-space{
	height: 50px;
	width: 100%;
	background-color: #fff;
}
footer{
	width: 100%;
	height: 45px;
	background-color: #fff;
}
footer .row img{
	width: 24px;
	max-height:24px;
	display: inline-block;
}

footer span{
	font-size: 11px;
}
footer .auction-btn,footer .want-btn{
	line-height: 45px;
	font-size: 16px;
}
footer .want-btn{
	background-color: #FF4444;
	color: #fff;
}
footer .auction-btn{
	background-color: #FFDA44;
	color: #fff;
}
blockquote{
	padding: 10px 0;
	padding-bottom: 0;
	border: 0;
	font-size: 16px;
	line-height: 25px;
}
.myimg{
	/* padding: 0 15px; */
}
.con-img{
	width: 100%;
	height: auto;
	margin-bottom: 10px;
}
.con-img img{
	width: 100%;
}
.row-zan{
	font-size: 12px;
	color: #8acfff;
}
.danbao{
	padding-left: 0;
}
.zhifu{
	height: 15px;
}
.row-bg{
	height: 15px;
	background-color: #f7f7f7;
}
.block-msg{
	display: block;
	border-left:2px solid #FFda45;
}
.con-msg{
	padding-top: 5px;
	border-bottom: 1px solid #eee;
}
.user-head{
	width: 20px;
	height: 20px;
}
.row-msg{
	border-bottom: 1px solid #eee;
}
.col-hn{
	margin-top: 15px;
	margin-bottom: 5px;
}
.col-img{
	width: 30px;
	height:30px;
	vertical-align: center;
}
.col-nick{
	font-weight: 600;
	font-size: 16px;
}
.col-msg{
	padding-left: 15px;
	margin-bottom: 15px;
}
.want-input{
	padding-right: 0;
}
.msg-input{
	line-height: 45px;
	height: 45px;
	border-radius: 0;
}
