/* 商品分类页 */
[v-cloak] {
  display: none;
}
/* 头部样式 */
header{
	width: 100%;
	height: 70px;
	padding:6px 0;
	line-height: 32px;
	background-color: #FAFAFA;
	border-bottom: 1px solid #eee;
	position: fixed;
	top: 0;
	left:0;
	z-index: 9001;
}
header .sec-group > div{
	height: 28px;
	margin-top: 2px;
	border: 1px solid #ccc;
	/* border-radius: 12px; */
}
header .sec-group input{
	height: 28px;
	background-color: inherit;
	outline:none;
	border: 0;
}
header .sec-group .sec-btn{
	background-color: inherit;
	border: 0;
	border-radius: 0;
}
/* header .sec-btn img{ */
	/* width: 20px; */
	/* max-height: 20px; */
	/* margin-top: -10px; */
/* } */
/* 筛选 */
header nav .icon-1{
	display:inline-block;
	width: 0;
	height: 0;
	border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    border-bottom: 6px solid #ccc;
	transition: all 0.15s;
	transform: rotate(0);
}
header nav div[class^='col-']{
	padding: 0 5px;
}
.area-btn div{
	float: left;
}
#gr_zone_ids{
	width: 75%;
	white-space: nowrap;/*强制不换行*/
	overflow: hidden;
	text-overflow: ellipsis;
}
.bold{
	font-family:'Microsoft YaHei';
	font-weight: 600;
}
header nav .icon-2{
	display:inline-block;
	width: 10px;
	height: 14px;
	line-height: 7px;
}
header nav .icon-2-desc{
	display:inline-block;
	width: 0;
	height: 0;
	border-left: 4px solid transparent;
    border-right: 4px solid transparent;
    border-bottom: 3px solid #ccc;
}
header nav .icon-2-asc{
	display:inline-block;
	width: 0;
	height: 0;
	border-left: 4px solid transparent;
    border-right: 4px solid transparent;
    border-top: 3px solid #ccc;
}
/* 中间部分 */
#content{
	padding-top: 76px;
	/*background-color:#F8F8F8;*/
}
#content .one-goods{
	background-color: #fff;
	width:50%;
	height: 170px;
}
#content .one-goods img{
	width: 120px;
	height:120px;
	margin-top: 6px;
}
#content .one-goods div{
	line-height: 23px;
	white-space: nowrap;/*强制不换行*/
	overflow: hidden;
	text-overflow: ellipsis;
}

/*城市弹层*/
.city-box{width: 100%;position:absolute;top:70px;left:0;background-color:#fff;z-index:9000;display:none;}
.current-city{background-color: #eee;line-height: 36px;}
.current-city div img{width: 14px; max-height:18px;}
.letter{width:10%;overflow:hidden;line-height:20px;font-size:16px;position:fixed;top:72px;right:10px;text-align:center;}
.letter ul{list-style-type:none;padding:0;}
.city{width:90%;overflow:hidden;}
.city-list{width:100%;overflow:hidden;}
.city-list .city-letter{color:#000;font-size:16px;display:inline-block;padding:8px;border-bottom:1px solid #e8ecf1;width:100%;}
.city-list p{color:#333;width:95%;height:32px;line-height:32px;border-bottom:1px solid #e8ecf1;}
.UISelect{margin-top:5px}
/* 价格筛选弹窗 */
