/* 订单详情样式*/

header{
	width: 100%;
	padding:6px 0;
	height: 52px;
	background-color: #FAFAFA;
	font-size: 16px;
	position: fixed;
	top: 0;
	left:0;
	z-index: 9000;
}
/* .. */
#content{
	padding: 52px 0 0;
	background-color: lightblue;
	font-size: 13px;
	color: #666;
}
#content hr{
	margin-top: 10px;
	border-color: #aaa;
}

.order-status{
	background-color:rgba(0, 0, 0, 0.5);
	color: #fff;
	min-height: 60px;
}
.order-status button{
	float: right;
	background-color:#FFDA45;
	color: #fff;
	border: 0;
	outline: none;
	padding: 7px 16px;
	font-size: 13px;
	margin-top: 14px;
}

.sale-box{
	background-color: #eee;
}
.sale-box button{
	border: 0;
	padding: 0 6px;
	outline: none;
	background-color: #ffda45;
	color: #fff;
}
/*卖家信息*/
/* .sale-info-div{	 */
	/* padding: 5px 20px; */
	/* background-color:#fff; */
	/* margin: 8px 0; */
/* } */
/* .sale-info-div p{ */
	/* line-height: 24px; */
	/* margin: 0; */
/* } */
/* .sale-info-div button{ */
	/* border: 0; */
	/* background-color: #ffda45; */
	/* outline: none; */
	/* width: 100%; */
	/* height:24px; */
	/* color: #fff; */
/* } */
.goods-info-div,.sale-info-div,.order-info-div,.p-div{
	background-color: #fff;
	padding-top: 10px;
	margin-top: 5px;
}
.p-div {
	padding: 6px 15px;
}
.p-div button{
	width: 100%;
	padding: 5px;
	background-color:#ccc;
}
.p-div button.success{
	background-color:#E22018;
}

/* 底部提示信息 */
footer{
	background-color:#ddd;
	border-bottom: 1px solid #ccc;
	padding: 15px;
	font-size:	12px;
	color: #333;
}
footer p{
	line-height: 21px;
}