/* <!-- 聊天窗口样式 --> */
header{
	padding: 5px 0;
	background-color: #fff;
}
header .row{
	border-bottom: 1px solid #eee;
}
#send-input{
	height: 32px;
	border: 1px solid #FFda45;
	box-shadow: 1px 1px 2px #eee;
	line-height: 32px;
	overflow: auto;
}
.img-my{
	width: 56px;
	height: 56px;
}
header .more {
	height: 39px;
	padding: 5px 20px;
}
header .more img,footer img{
	width: 28px;
	max-height: 28px;
}
header img{
	width: 25px;
	max-height: 56px;
}
header .row:nth-child(2){
	margin-top: 5px;
}
header .row:nth-child(2) span{
	font-size: 12px;
	color: #999;
	line-height: 19px;
}
header .row:nth-child(2) .goods-money{
	font-size: 14px;
	font-weight: 600;
	color: #000;
}
header .buy-btn-box{
	padding: 15px;
}
header .buy-btn{
	width: 100%;
	height: 36px;
	color: #fff;
	border: 0;
	outline: none;
	background-color: #E22018;
}
/* 主要内容 信息展示框 */
#content{
	padding-top: 140px;
	padding-bottom: 50px;
	background-color: #fafafa;
}
/* 聊天气泡样式 */
.q-div,.a-div{margin-bottom:1rem;min-height:60px;}
.q-text,.a-text{padding:5px 15px;}
.q-text p,.a-text p{margin-top: 10px;border-radius:6px;padding:.5rem;margin:0;font-size:14px;line-height:28px;box-sizing:border-box;vertical-align:middle;display:table-cell;word-wrap:break-word;max-width:100%;}
.a-text p{background:#fff;}
.q-text p{background:#42929d;color:#fff;}
.q-text i,.a-text i{width:0;height:0;border-top:5px solid transparent;border-bottom:5px solid transparent;position:absolute;top:20px;}
.a-text i{border-right:10px solid #fff;left:5px;}
.q-text i{border-left:10px solid #42929d;right:5px;}
.a-text p a{color:#42929d;display:inline-block;}

footer{
	width: 100%;
	height:50px;
	padding: 10px 0;
	border-top: 1px solid #ddd;
	background-color: #fff;
}
footer input{
	width: 100%;
	border: 0;
	outline: none;
}
/* 输入框同步显示到div样式 */
#footer .input-con{
	background-color:#fff;
	width:100%;
	min-height:32px;
	line-height:32px;
	font-size:15px;
	padding:0 15px;
	border-top:1px solid #eee;
	position:fixed;
	left:0;
	bottom:50px;
	word-wrap:break-word;
}
#footer .send-btn-box div[class^='col-']{
	padding: 0;
}
.send-btn{
	border: 0;
	border-radius: 0;
	background-color: #ffda45;
	width: 95%;
	max-height: 28px;
	margin-right: 5%;
	line-height: 28px;
	color: #fff;
}
/* //弹出框样式 */
.pop-div{
	padding: 15px 30px 10px 10px;
}
.pop-div a{
	text-decoration: none;
	font-size:16px;
	color: #333;
}
