#pageBox>div{
	position: relative;
	float: left;
	margin: 0 auto;
	left: 50%;
}
#pageBox a,#pageBox span{
	width: 30px;
	height: 20px;
	background: #ccc;
	display: inline-block;
	margin: 0 3px;
	text-align: center;
	line-height: 20px;
}