/*用户详细信息样式*/

#content{
	width: 90%;
	margin-top: 20px;
}
/* 左侧基本信息 */
.lside{
	background-color:#fafafa;
	font-size: 15px;
}
.lside hr{
	margin-top: 0;
}
.lside p{
	margin: 20px 0 0;
	padding: 5px;
	background-color:#999;
	color: #fff;
}
.lside .info-box .row{
	margin: 10px 0;
}
.lside .info-box .row input{
	width: 100%;
}

/* 
*	右侧
*/
/* 导航条 */
.navbar{
	border-radius:0;
}


.pageBox>div{
	position: relative;
	float: left;
	margin: 0 auto;
	left: 50%;
}
.pageBox a,.pageBox span{
	width: 30px;
	height: 20px;
	background: #ccc;
	display: inline-block;
	margin: 0 3px;
	text-align: center;
	line-height: 20px;
}