<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <title>广告</title>
    <link rel="stylesheet" href="__PUBLIC__/static/publish/css/reset.css">
    <link rel="stylesheet" href="__PUBLIC__/static/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="__PUBLIC__/Home/css/index/advertStyle.css">
    <script src="__PUBLIC__/static/jquery/jquery.min.js"></script>
    <script src="__PUBLIC__/static/bootstrap/js/bootstrap.min.js"></script>
    <script src="__PUBLIC__/static/vue/vue.js"></script>
    <script type="text/javascript">
        function MVC(p,c,a){
            return "{:U('"+p+"/"+c+"/"+a+"')}";
        }
    </script>
    <script src="__PUBLIC__/Home/js/index/advert.js"></script>

</head>
<body>
<div class="box">
    <div class="ad_time">跳过<span id="t">6</span>s</div>
</div>
</body>
</html>