.bg{
    background-color: #f7f7f7;
}
.my-publish{
    margin-top: 15px;
    margin-bottom: 10px;
    line-height: 20px;
}
.logo1{
    height: 130px;
}
.my-publish-title{
    font-weight: 500;
    font-size: 18px;
}
.ban-my-publish{
    background-color: #fff;
}
.btn-yel{
    background-color: #ffda45;
    border-radius: 0;
    width: 100px;
    height:25px;
    line-height: 0px;
    margin-top: 15px;
}
.baby-span{
    color: #ccc;
}
nav ul li.active a{
    border-bottom: 3px solid #ffda45;
    background-color: #fff !important;
    color: #2a3542;
}
nav ul li a{
    color: #ccc;
}
.navbar-nav{
    margin: 2.5px -15px;
}
footer{
    width: 100%;
    position: fixed;
    top:35%
}
.edit-goods{
    border-top: 1px solid #eee;
}
.goods-img{
    padding: 0;
}
.goods-img img{
    width: 100%;
}
.goods-detail{
    margin-top: 10px;
}
.goods-detail span{
    color:#ccc;
    margin-right:5px;
    font-size:12px;
}
.edit-goods button{
    margin: 4px 0;
    background-color: #fff;
    border: 1px solid #eee;
    border-radius: 0;
    height:30px;
}