/*客服聊天页面样式*/
header{
	background-color: #fafafa;
}
header h4{
	line-height: 32px;
}
header .server-header{
	border-top: 1px solid #eee;
	border-bottom: 1px  solid #ddd;	
}
header .server-header [class="col-sm-3 col-xs-3"]{
	padding: 0;

}
header .server-header img{
	max-width: 60px;
	background-color: #fff;	
}
header .server-header h4{
	line-height: 58px;
	margin:0;
}
/* 底部样式 */
#footer{
	width: 100%;
	height:50px;
	padding: 10px 0;
	border-top: 1px solid #ddd;
	background-color:#fff;
}
#footer input{
	width: 100%;
	border: 0;
	outline: none;
}
#footer img{
	width: 32px;
}
/* 输入框同步显示到div样式 */
#footer .input-con{
	background-color:#fff;
	width:100%;
	min-height:32px;
	line-height:32px;
	font-size:15px;
	padding:0 15px;
	border-top:1px solid #eee;
	position:fixed;
	left:0;
	bottom:50px;
	word-wrap:break-word;
}
#footer .send-btn-box div[class^='col-']{
	padding: 0;
}
.send-btn{
	border: 0;
	border-radius: 0;
	background-color: #ffda45;
	width: 95%;
	max-height: 28px;
	margin-right: 5%;
	line-height: 28px;
	color: #fff;
}