<!doctype html>
<html class="no-js">
<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<title>Amaze UI Admin index Examples</title>
<meta name="description" content="这是一个 index 页面">
<meta name="keywords" content="index">
<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
<meta name="renderer" content="webkit">
<meta http-equiv="Cache-Control" content="no-siteapp" />
<link rel="icon" type="image/png" href="__PUBLIC__/Admin/i/favicon.png">
<link rel="apple-touch-icon-precomposed" href="__PUBLIC__/Admin/i/app-icon72x72@2x.png">
<meta name="apple-mobile-web-app-title" content="Amaze UI" />
<link rel="stylesheet" href="__PUBLIC__/Admin/css/amazeui.min.css"/>
<link rel="stylesheet" href="__PUBLIC__/Admin/css/admin.css">
<script src="__PUBLIC__/Admin/js/jquery.min.js"></script>
<script src="__PUBLIC__/Admin/js/app.js"></script>
</head>
<body>
<!--[if lte IE 9]><p class="browsehappy">升级你的浏览器吧！ <a href="http://se.360.cn/" target="_blank">升级浏览器</a>以获得更好的体验！</p><![endif]-->
</head>
<body>
<div class="admin" style="top:0px;left:0px;">
    <div class="admin-index">
      <dl data-am-scrollspy="{animation: 'slide-right', delay: 100}">
        <dt class="qs"><i class="am-icon-users"></i></dt>
        <dd>{$huserAll}</dd>
        <dd class="f12">会员数量</dd>
      </dl>
      <dl data-am-scrollspy="{animation: 'slide-right', delay: 300}">
        <dt class="cs"><i class="am-icon-area-chart"></i></dt>
        <dd>{$orderNow}</dd>
        <dd class="f12">今日交易数</dd>
      </dl>
      <dl data-am-scrollspy="{animation: 'slide-right', delay: 600}">
        <dt class="hs"><i class="am-icon-shopping-cart"></i></dt>
        <dd>{$ngoodsCount+$pgoodsCount}</dd>
        <dd class="f12">商品数量</dd>
      </dl>
      <dl data-am-scrollspy="{animation: 'slide-right', delay: 900}">
        <dt class="ls"><i class="am-icon-cny"></i></dt>
        <dd>{$orderAll}</dd>
        <dd class="f12">全部交易数</dd>
      </dl>
    </div>
    <div class="admin-biaoge">
      <div class="xinxitj">信息概况</div>
      <table class="am-table">
        <thead>
          <tr>
            <th>会员统计</th>
            <th>全部会员</th>
            <th>全部人数</th>
            <th>锁定人数</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>白银</td>
            <td>白银</td>
            <td>{$huserOne}</td>
            <td>{$huserOneLock}</td>
          </tr>
          <tr>
            <td>黄金</td>
            <td>黄金</td>
            <td>{$huserTwo}</td>
            <td>{$huserTwoLock}</td>
          </tr>
          <tr>
            <td>钻石</td>
            <td>钻石</td>
            <td>{$huserThr}</td>
            <td>{$huserThrLock}</td>
          </tr>
          <tr>
            <td>王者</td>
            <td>王者</td>
            <td>{$huserFour}</td>
            <td>{$huserFourLock}</td>
          </tr>
          <tr>
            <td>合计</td>
            <td>合计</td>
            <td>{$huserAll}</td>
            <td>{$huserAllLock}</td>
          </tr>
        </tbody>
      </table>
      <table class="am-table">
        <thead>
          <tr>
            <th>商品统计</th>
            <th>全部商品</th>
            <th>在售数量</th>
            <th>商品数量</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>普通</td>
            <td>普通</td>
            <td>{$ngoodsOnsole}</td>
            <td>{$ngoodsCount}</td>
          </tr>
          <tr>
            <td>拍卖</td>
            <td>拍卖</td>
            <td>{$pgoodsOnsole}</td>
            <td>{$pgoodsCount}</td>
          </tr>
          <tr>
            <td>合计</td>
            <td>合计</td>
            <td>{$ngoodsOnsole+$pgoodsOnsole}</td>
            <td>{$ngoodsCount+$pgoodsCount}</td>
          </tr>
        </tbody>
      </table>
    </div>
    <div class="shuju">
      <div class="shujuone">
        <dl>
          <dt>全部会员：  {$huserAll}</dt>
          <dt>今日注册会员：   {$regCount}</dt>
        </dl>
        <ul>
          <h2>{$regScale}</h2>
          <li>新会员</li>
        </ul>
      </div>
      <div class="shujutow">
        <dl>
          <dt>全部商品：  {$ngoodsCount+$pgoodsCount}</dt>
          <dt>今日发布普通商品：   {$newNgoods}</dt>
          <dt>今日发布拍卖商品：  {$newPgoods}</dt>
        </dl>
        <ul>
          <h2>{$goodsScale}</h2>
          <li>新商品</li>
        </ul>
      </div>
    </div>
    <div class="foods">
    	<ul>二货市场</ul>
    	<dl><a href="" title="返回头部" class="am-icon-btn am-icon-arrow-up"></a></dl>
    </div>
</div>

<!--[if lt IE 9]>
<script src="http://libs.baidu.com/jquery/1.11.1/jquery.min.js"></script>
<script src="http://cdn.staticfile.org/modernizr/2.8.3/modernizr.js"></script>
<script src="__PUBLIC__/Admin/js/polyfill/rem.min.js"></script>
<script src="__PUBLIC__/Admin/js/polyfill/respond.min.js"></script>
<script src="__PUBLIC__/Admin/js/amazeui.legacy.js"></script>
<![endif]--> 

<!--[if (gte IE 9)|!(IE)]><!--> 
<script src="__PUBLIC__/Admin/js/amazeui.min.js"></script>
<!--<![endif]-->



</body>
</html>