<!DOCTYPE html>
<html>
<head>
	<title>普通商品管理</title>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <link rel="stylesheet" href="__PUBLIC__/static/resetcss/normalize.css">
    <link rel="stylesheet" href="__PUBLIC__/static/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="__PUBLIC__/Admin/mycss/goodsDetail.css">

    <script src="__PUBLIC__/static/jquery/jquery.min.js"></script>
    <script src="__PUBLIC__/static/bootstrap/js/bootstrap.min.js"></script>
    <script type="text/javascript" src='__PUBLIC__/static/layer/layer.js'></script>
    <script type="text/javascript" src="__PUBLIC__/Admin/myjs/goodsDetail.js"></script>
</head>
<body >
	<h4>普通商品详情</h4>
	<hr>
	<div class="container">
		
		<div class="row">
			<table class="table">
				<tr style="background-color:#070808;color:#fff; ">
					<th>商品ID</th>
					<th>商品发布人</th>
					<th>商品价格</th>
					<th>商品状态</th>
					<th>商品分类</th>
					<th>赞</th>
					<th>商品发布时间</th>/
				</tr>
				<foreach></foreach>
			</table>
		</div>
		<div class="row">
			<h4 class="text-center" style="background-color:#070808;color:#fff; ">商品详情</h4>
			<div class="col-lg-12 col-md-12">
				<div class="row">
					<div class="col-md-1 col-lg-1 text-center" >
						商品名称
					</div>
					<div class="col-md-11 col-lg-11">
						
					</div>
				</div>
				<div class="row">
					<div class="col-md-1 col-lg-1 text-center" >
						商品详情
					</div>
					<div class="col-md-11 col-lg-11">
						<p>详情</p>
						<img src="__PUBLIC__/Home/img/images/e.jpg" >
						<img src="__PUBLIC__/Home/img/images/f.jpg" >
					</div>
				</div>
			</div>
		</div>
	</div>
</body>
</html>