<!DOCTYPE html>
<html>
<head>
	<title>普通商品管理</title>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <link rel="stylesheet" href="__PUBLIC__/static/resetcss/normalize.css">
    <link rel="stylesheet" href="__PUBLIC__/static/bootstrap/css/bootstrap.min.css">

    <script src="__PUBLIC__/static/jquery/jquery.min.js"></script>
    <script src="__PUBLIC__/static/bootstrap/js/bootstrap.min.js"></script>
    <script type="text/javascript" src='__PUBLIC__/static/layer/layer.js'></script>
</head>
<body >
	<h4 style="padding-left: 30px;"><a href="{:U('Admin/ngoods/ngoods')}">返回</a></h4>
	<hr>
	<div class="container">
		<foreach name='goods' item='vo'>
			<div class="row">
				<table class="table">
					<tr style="height:40px;background-color:#2A3542;color:#fff; ">
						<th class="text-center">商品发布人</th>
						<th class="text-center">商品价格</th>
						<th class="text-center">商品状态</th>
						<th class="text-center">商品分类</th>
						<th class="text-center">商品发布时间</th>
					</tr>
					<tr>
						<td class="text-center">{$huser}</td>
						<td class="text-center">{$vo['n_price']}</td>
						<td class="text-center">
							<foreach name='status' item='v'>
								<if condition="$vo['n_status'] eq $key">{$v}</if>
							</foreach>
						</td>
						<td class="text-center">{$classify[$vo['c_id']]}</td>
						<td class="text-center">{$vo['n_time']}</td>
					</tr>
				</table>
			</div>
			<div class="row">
				<h4 class="text-center" style="padding:7px;background-color:#2A3542;color:#fff; ">商品详情</h4>
				<div class="col-lg-12 col-md-12">
					<div class="row">
						<div class="col-md-2 col-lg-2 text-center" >
							<p class="lead">商品名称</p>
						</div>
						<div class="col-md-10 col-lg-10" >
								<p style="line-height: 28px;">{$vo['n_name']}</p>
							<hr>
						</div>
					</div>
					<div class="row">
						<div class="col-md-2 col-lg-2 text-center" >
							<p class="lead" >商品详情</p>
						</div>
						<div class="col-md-10 col-lg-10">
							<p style="line-height: 28px;">{$vo['n_info']}</p>
							<hr>
							<div class="row">
								<foreach name='img' item='io'>
									<img src="{$io['n_img']}" style='width:300px;margin:10px' />
								</foreach>
							</div>
						</div>
					</div>
				</div>
			</div>
		</foreach>
	</div>
</body>
</html>