<!DOCTYPE html>
<html>
<head>
	<title>日志</title>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <link rel="stylesheet" href="__PUBLIC__/static/resetcss/normalize.css">
    <link rel="stylesheet" href="__PUBLIC__/static/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="__PUBLIC__/Admin/mycss/log.css">

    <script src="__PUBLIC__/static/jquery/jquery.min.js"></script>
    <script src="__PUBLIC__/static/bootstrap/js/bootstrap.min.js"></script>
    <script type="text/javascript" src='__PUBLIC__/static/layer/layer.js'></script>
    <script type="text/javascript" src="__PUBLIC__/Admin/myjs/log.js"></script>
</head>
<body >
	<div class="container">
		<h3 class="text-center">日志管理</h3>
		<hr />
		<div class="row">
			<div class="col-md-12">
				<table class="table table-bordered">
					<tr>
						<th class="text-center">账号</th>
						<th class="text-center">昵称</th>
						<th class="text-center">操作记录</th>
						<th class="text-center">时间</th>
					</tr>
					<foreach name='log' item='vo'>
						<tr>
							<td>{$vo.a_account}</td>
							<td>{$vo.a_nick}</td>
							<td>{$vo.manipulation}</td>
							<td>{$vo.time}</td>
						</tr>
					</foreach>
				</table>
				<div id='pageBox'>{$page}</div>
			</div>
		</div>
	</div>
</body>
</html>