<!DOCTYPE html>
<html>
<head>
	<title>前台用户管理</title>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <link rel="stylesheet" href="__PUBLIC__/static/resetcss/normalize.css">
    <link rel="stylesheet" href="__PUBLIC__/static/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="__PUBLIC__/Admin/mycss/huser.css">

    <script src="__PUBLIC__/static/jquery/jquery.min.js"></script>
    <script src="__PUBLIC__/static/bootstrap/js/bootstrap.min.js"></script>
    <script src="__PUBLIC__/static/layer/mobile/layer.js"></script>
    <script src="__PUBLIC__/static/vue/vue.js"></script>
</head>
<body >
	<div class="container">
		<div class="row">
			<div class="col-md-12 col-lg-12 header">
				<h3 class="text-center">前台用户管理</h3>
			</div>
		</div>
		<div class="row search-div">
			<div class="col-md-2 col-lg-2 ">
				<button class="btn btn-info">解锁 / 锁定</button>
			</div>
			<div class="col-md-2 col-lg-2 ">
				<select class="selectpicker">
					<option >用户状态</option>
			    	<option value="1">正 常</option>
			    	<option value="0">锁 定</option>
			  	</select>
			</div>
			<div class="col-md-3 col-lg-3">
				<input type="text" name="" class="form-control" placeholder="请输入要搜索的用户信息">
			</div>
			<div class="col-md-2 col-lg-2">
				<button class="btn btn-success">搜 索</button>
			</div>
		</div>
		<div class="row tableList">
			<table class="table table-bordered">
				<thead>
					<tr>
						<th class="text-center">会员账号</th>
						<th class="text-center">会员昵称</th>
						<th class="text-center">电话号码</th>
						<th class="text-center">邮箱</th>
						<th class="text-center">状态</th>
						<th class="text-center">最后登录时间</th>
						<th class="text-center">注册时间</th>
						<th class="text-center">操作</th>
					</tr>
				</thead>
				<tbody>
						<tr>
							<td class="text-center">{$v.h_account}</td>
							<td class="text-center">{$v.h_nick}</td>
							<td class="text-center">{$v.h_tel}</td>
							<td class="text-center">{$v.h_email}</td>
							<td class="text-center">{$v.h_status}</td>
							<td class="text-center">{$v.h_loginTime}</td>
							<td class="text-center">{$v.h_regTime}</td>
							<td class="text-center">
								<a href="">查看详细信息</a>
								<a href="">锁定 / 解锁</a>
							</td>
						</tr>
					<foreach name="data" item="v">
						<tr>
							<td class="text-center">
								<div><label><input type="checkbox" name="checkOne"></label></div>
							</td>
							<td class="text-center">{$v.h_account}</td>
							<td class="text-center">{$v.h_nick}</td>
							<td class="text-center">{$v.h_tel}</td>
							<td class="text-center">{$v.h_email}</td>
							<td class="text-center">{$v.h_status}</td>
							<td class="text-center">{$v.h_loginTime}</td>
							<td class="text-center">{$v.h_regTime}</td>
							<td class="text-center">
								<a href="">查看详细信息</a>
								<a href="">锁定</a>
							</td>
						</tr>
					</foreach>
				</tbody>
				<tfoot>
					<tr >
						<td colspan="8" class="text-center">页码</td>
					</tr>
				</tfoot>
			</table>
		</div>
	</div>
</body>
</html>