<!DOCTYPE html>
<html>
<head>
	<title>前台用户管理</title>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <link rel="stylesheet" href="__PUBLIC__/static/resetcss/normalize.css">
    <link rel="stylesheet" href="__PUBLIC__/static/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="__PUBLIC__/Admin/mycss/huser.css">

    <script src="__PUBLIC__/static/jquery/jquery.min.js"></script>
    <script src="__PUBLIC__/static/bootstrap/js/bootstrap.min.js"></script>
    <script src="__PUBLIC__/static/layer/mobile/layer.js"></script>
    <script src="__PUBLIC__/static/vue/vue.js"></script>
    <script>
    	var url = "{:U('Admin/huser/huser')}";
    	var urlLock = "{:U('Admin/huser/huserLock')}";
    </script>
    <script type="text/javascript" src='__PUBLIC__/static/layer/layer.js'></script>
    <script type="text/javascript" src='__PUBLIC__/Admin/myjs/huser.js'></script>
</head>
<body >
	<div class="container">
		<div class="row">
			<div class="col-md-12 col-lg-12 header">
				<h3 class="text-center">前台用户管理</h3>
			</div>
		</div>
		<form class="row search-div" method='get' action="{:U('Admin/huser/huser')}">
			<div class="col-md-1 col-lg-1">
				<input type='button' value='解 锁' class="btn btn-info" id='unLock' />
			</div>
			<div class="col-md-1 col-lg-1">
				<input type='button' value='锁 定' class="btn btn-info" id='Lock' />
			</div>
			<div class="col-md-2 col-lg-2 ">
				<select class="selectpicker" name='userStatus' onchange="this.form.submit()">
					<option value="none">用户状态</option>
					<if condition="$_GET['userStatus'] eq 1"><option value="1" selected>正 常</option>
						<else /><option value="1">正 常</option>
					</if>
					<if condition="isset($_GET['userStatus']) and $_GET['userStatus'] eq 0 and $_GET['userStatus'] neq 'none'"><option value="0" selected>锁 定</option>
						<else /><option value="0">锁 定</option>
					</if>
			  	</select>
			</div>
			<div class="col-md-3 col-lg-3">
				<input type="text" name="selectInp" class="form-control" placeholder="请输入要搜索的用户信息">
			</div>
			<div class="col-md-2 col-lg-2">
				<button class="btn btn-success">搜 索</button>
			</div>
		</form>
		<div class="row tableList">
			<table class="table table-bordered">
				<thead>
					<tr>
						<td class="text-center">
							<input type='checkbox' id='chooseAll'>
						</td>
						<th class="text-center">会员账号</th>
						<th class="text-center">电话号码</th>
						<th class="text-center">邮箱</th>
						<th class="text-center">状态</th>
						<th class="text-center">最后登录时间</th>
						<th class="text-center">注册时间</th>
						<th class="text-center">操作</th>
					</tr>
				</thead>
				<tbody>
					<foreach name="data" item="v">
						<tr>
							<td class="text-center">
								<input type='checkbox' rid="{$v['h_id']}">
							</td>
							<td class="text-center">{$v.h_nick}</td>
							<td class="text-center">{$v.h_tel}</td>
							<td class="text-center">{$v.h_email}</td>
							<td class="text-center">
								<if condition="$v['h_status'] eq 1">正常
									<else />锁定
								</if>
							</td>
							<td class="text-center">{$v.h_loginlasttime}</td>
							<td class="text-center">{$v.h_regtime}</td>
							<td class="text-center">
								<a href="{:U('Admin/huser/userInfo',array("hid"=>$v['h_id']))}">查看详细信息</a><br />
								<a href="#" class='lock' hId="{$v['h_id']}" status="{$v['h_status']}">
									<if condition="$v['h_status'] eq 1">锁定
										<else />解锁
									</if>
								</a>
							</td>
						</tr>
					</foreach>
				</tbody>
			</table>
			<div id='pageBox'>{$page}</div>
		</div>
	</div>
</body>
</html>