<!DOCTYPE html>
<html>
<head>
	<title>商品详情</title>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <link rel="stylesheet" href="__PUBLIC__/static/resetcss/normalize.css">
    <link rel="stylesheet" href="__PUBLIC__/static/bootstrap/css/bootstrap.min.css">
	<link rel="stylesheet" type="text/css" href="__PUBLIC__/Home/css/detail/detailStyle.css">
	<script src='//cdn.bootcss.com/socket.io/1.3.7/socket.io.js'></script>
	<script src='//cdn.bootcss.com/jquery/1.11.3/jquery.js'></script>
	<link rel="stylesheet" href="__PUBLIC__/static/loading/css/loading.css">
	<script src="__PUBLIC__/static/layer/mobile/layer.js"></script>
    <script src="__PUBLIC__/static/jquery/jquery.min.js"></script>
	<script type="text/javascript">
        function MVC(p,c,a){
            return "{:U('"+p+"/"+c+"/"+a+"')}";
        }
        var path = "__PUBLIC__/";
	</script>
    <script src="__PUBLIC__/static/bootstrap/js/bootstrap.min.js"></script>
    <script src="__PUBLIC__/static/vue/vue.js"></script>
	<script src="__PUBLIC__/static/loading/js/Loading.js"></script> <!--页面加载等待-->

	<script src="__PUBLIC__/Home/js/detail/detail.js"></script>
	<link rel='stylesheet' href='__PUBLIC__/static/sendMsg/css/animate.min.css'>
	<link rel="stylesheet" href="__PUBLIC__/static/sendMsg/css/notification.css">
	<script src="__PUBLIC__/static/sendMsg/js/notification.js"></script>
	<script src="__PUBLIC__/Home/static/push.js"></script>
</head>
<body>
	<header v-cloak>
		<div class="container">
			<div class="row">
                <div class="col-sm-3 col-xs-3 text-center">
                    <img :src="userInfo.head" alt="头像" class="img-responsive img-circle img-head">
                </div>
                <div class="col-sm-6 col-xs-6 user-info" style="padding:0">
                    <p>
                        <span class="nick">{{userInfo.nick}}</span>
                        <span class="icon">
                            <img src="__PUBLIC__/Home/img/xianyu/person_confirmed.png" class="img-responsive">
                        </span>
                    </p>
                    <p v-if="userInfo.type == 'n'">
                        <span class="icon" >
                            <img src="__PUBLIC__/Home/img/xianyu/items_exposure_care.png" class="img-responsive">
                        </span>
                        <span>已上架{{userInfo.time | diffTime}}</span>
                    </p>
                    <p v-else style="background-color: #E21918;color:#fff;" class="text-center">
                    	<span>{{timeStr}}</span>
                    </p>
                </div>
                <div class="col-sm-3 col-xs-3 text-right">
                    <p>
                    	<span v-if="userInfo.type == 'n'">一口价</span><span v-else>起拍价</span>
                    	<span class="text-danger">￥<span class="price">{{userInfo.price}}</span></span>
                    </p>
                </div>
            </div>
		</div>
	</header>
	<!-- 中间 -->
	<div class="container" id="content" v-cloak>
		<div class="row">
			<div class="col-xs-1"><img src="__PUBLIC__/Home/img/xianyu/common_icon_location.png" style="vertical-align: middle"></div>
			<div id="distance" class="col-xs-11" style="padding-left: 5px;"></div>
		</div>
		<div class="row">
			<div class="col-xs-12">
				<blockquote>{{goodsInfo.info}}</blockquote>
			</div>
		</div>
		<div class="row myimg" >
			<!--后台传值图片src-->

			<div v-for="img of imgs" class="col-xs-12 con-img" >
				<img :src="img.n_img" class="img-responsive">
			</div>

		</div>

		<div class="row row-zan">
			<div class="col-xs-1">
				<img src="__PUBLIC__/Home/img/xianyu/detail_alipay_icon.png" class="zhifu">
			</div>
			<div class="col-xs-5 text-left danbao">担保交易</div>
			<div class="col-xs-6 text-right">点赞<span id="zan"></span></div>
		</div>
<!--灰色div区别颜色-->
		<div class="row row-bg">
		</div>
	</div>
	<!--留言板-->
	<div class="container" id="app1">
		<div class="row">
			<div class="col-xs-12 text-left con-msg"><p style="border-left: 2px solid #ffda45;line-height: 25px;font-size:16px;">留言·<span id="message-num"></span></p></div>
		</div>
		<!--此处加入该商品留言信息-->
		<todo-item v-for="item in List" v-bind:todo="item"></todo-item>
	</div>

	<div class="kb-space"></div>
	<!-- 底部 -->
	<footer  class="navbar-fixed-bottom" v-bind:switchFlag="component">
		<keep-alive>
			<component :is="component"  :is-p="goodsFlag" :id="goodsId" :bail="pBail" :step="pStep" :current-price="currentPrice" :flag="myFlag" :userId="userId"  @leave-msg="resLevEvent" @lose-blur="resSendEvent" @send-msg="resSendEvent"></component>
		</keep-alive>
	</footer>
</body>
</html>
