<!DOCTYPE html>
<html>
<head>
	<title>订单详情</title>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <link rel="stylesheet" href="__PUBLIC__/static/resetcss/normalize.css">
    <link rel="stylesheet" href="__PUBLIC__/static/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="__PUBLIC__/Admin/mycss/huser.css">
    <style type="text/css">
    	.buy-user-info .row,.goods-info .row{
    		line-height: 28px;
    		font-size: 15px;
    	}
    </style>
    <script src="__PUBLIC__/static/jquery/jquery.min.js"></script>
    <script src="__PUBLIC__/static/bootstrap/js/bootstrap.min.js"></script>
    <script type="text/javascript" src='__PUBLIC__/static/layer/layer.js'></script>
    <script type="text/javascript" src="__PUBLIC__/Admin/myjs/order.js"></script>
</head>
<body >
	<h4 style="padding-left: 30px;"><a href="{:U('Admin/order/order')}">返回</a></h4>
	<hr>
	<div class="container">
		<h3><small>订单详情</small></h3>
		<hr>
		<div class="row">
			<div class="col-md-12 col-lg-12">
				<table class="table table-bordered">
					<tr>
						<th class="text-center">订单号</th>
						<th class="text-center">下单时间</th>
						<th class="text-center">购买时间</th>
						<th class="text-center">订单状态</th>
						<th class="text-center">发货时间</th>
						<th class="text-center">收货时间</th>
					</tr>
					<tr>
						<td class="text-center">{$order[0]['o_number']}</td>
						<td class="text-center">{$order[0]['o_time']}</td>
						<td class="text-center">{$order[0]['o_ptime']}</td>
						<td class="text-center">{$status[$order[0]['o_status']]}</td>
						<td class="text-center">{$order[0]['o_stime']}</td>
						<td class="text-center">{$order[0]['o_rtime']}</td>
					</tr>
				</table>
			</div>
		</div>
		<h3><small>购买人信息</small></h3>
		<hr>
		<div class="row buy-user-info">
			<div class="col-md-12 col-lg-12">
				<div class="row">
					<div class="col-md-2 col-lg-2 text-right">
						账号
					</div>
					<div class="col-md-10 col-lg-10">
						{$huser}
					</div>
				</div>
				<div class="row">
					<div class="col-md-2 col-lg-2 text-right">
						收货人
					</div>
					<div class="col-md-10 col-lg-10">
						{$address[0]['d_name']}
					</div>
				</div>
				<div class="row">
					<div class="col-md-2 col-lg-2 text-right">
						联系方式
					</div>
					<div class="col-md-10 col-lg-10">
						{$address[0]['d_tel']}
					</div>
				</div>
				<div class="row">
					<div class="col-md-2 col-lg-2 text-right">
						收货地址
					</div>
					<div class="col-md-10 col-lg-10">
						{$address[0]['d_address']}
					</div>
				</div>
			</div>
		</div>
		<h3><small>商品信息</small></h3>
		<hr>
		<div class="row goods-info">
			<div class="col-md-12 col-lg-12">
				<div class="row">
					<div class="col-md-2 col-lg-2 text-right">
						购买价格
					</div>
					<div class="col-md-10 col-lg-10">
						<if condition="$order[0]['n_id'] neq 0">{$goods[0]['n_price']}
							<else />{$goods[0]['p_price']}
						</if>
					</div>
				</div>
				<div class="row">
					<div class="col-md-2 col-lg-2 text-right">
						购买类型
					</div>
					<div class="col-md-10 col-lg-10">
						<if condition="$order[0]['n_id'] neq 0">普通
							<else />拍卖
						</if>
					</div>
				</div>
				<div class="row">
					<div class="col-md-2 col-lg-2 text-right">
						商品名称
					</div>
					<div class="col-md-10 col-lg-10">
						<if condition="$order[0]['n_id'] neq 0">{$goods[0]['n_name']}
							<else />{$goods[0]['p_name']}
						</if>
					</div>
				</div>
				<div class="row">
					<div class="col-md-2 col-lg-2 text-right">
						商品预览
					</div>
					<div class="col-md-10 col-lg-10">
						<div class="row">
							<foreach name='img' item='io'>
								<img src="{$io['n_img']}" style='width:300px;margin:10px' />
							</foreach>
						</div>
					</div>
				</div>
			</div>
		</div>
			
	</div>
</body>
</html>