<!DOCTYPE html>
<html>
<head>
    <title>客服聊天</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <link rel="stylesheet" href="__PUBLIC__/static/resetcss/normalize.css">
    <link rel="stylesheet" href="__PUBLIC__/static/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="__PUBLIC__/Admin/mycss/rl_exp.css">
    <link rel="stylesheet" type="text/css" href="__PUBLIC__/Admin/mycss/chat.css">
    <script src='//cdn.bootcss.com/socket.io/1.3.7/socket.io.js'></script>
    <script src='//cdn.bootcss.com/jquery/1.11.3/jquery.js'></script>
    <script src="__PUBLIC__/static/jquery/jquery.min.js"></script>
    <script src="__PUBLIC__/static/bootstrap/js/bootstrap.min.js"></script>
    <script src="__PUBLIC__/static/layer/layer.js"></script>
    <script src="__PUBLIC__/static/vue/vue.js"></script>
    <script type="text/javascript">
        function MVC(p,c,a){
            return "{:U('"+p+"/"+c+"/"+a+"')}";
        }
        var path = "__PUBLIC__/";
    </script>
    <script type="text/javascript" src="__PUBLIC__/Admin/myjs/chat.js"></script>
</head>
<body>
 <div id="chat">
     <div class="sidebar">
         <div class="m-card">
             <!--客服头像、搜索输入框-->
             <header>
                 <img class="avatar" width="40" height="40" src="__PUBLIC__/Admin/img/1.jpg">
                 <p class="name">客服1号</p>
             </header>
             <footer>
                 <input class="search" placeholder="搜索用户..">
             </footer>
         </div>
         <!--好友列表-->
         <div class="m-list">
             <ul id="list">
             </ul>
         </div>
     </div>
     <div class="main">
         <!--聊天对话信息-->
         <div id="msg" class="m-message">
             <div flag="0" id="name" style="width: 100%;height: 30px;text-align: center;"></div>
             <ul id="chatBox">
             </ul>
         </div>
         <div class="m-text">
             <!--表情包、字体选择按钮-->
             <div class="m-title">
                 <ul>
                     <li id="emojiClick"><img width="20" height="20" src="__PUBLIC__/Home/img/xianyu/comui_emoji.png"></li>
                     <li><img width="20" height="20" src="__PUBLIC__/Home/img/xianyu/ziti.png"></li>
                 </ul>
             </div>
             <!--聊天输入框-->
             <div class="m-con" contenteditable="true" id="send-input">

             </div>
             <!--发送消息按钮-->
             <div class="m-foot">
                 <button id="send" type="button" class="btn btn-send">发送(S)</button>
             </div>
         </div>
     </div>

     <div class="rl_exp" id="rl_bq" style="display:none;">
         <ul class="rl_exp_tab clearfix">
             <li><a href="javascript:void(0);" class="selected">默认</a></li>
             <li><a href="javascript:void(0);">拜年</a></li>
             <li><a href="javascript:void(0);">浪小花</a></li>
             <li><a href="javascript:void(0);">暴走漫画</a></li>
         </ul>
         <ul class="rl_exp_main clearfix rl_selected"></ul>
         <ul class="rl_exp_main clearfix" style="display:none;"></ul>
         <ul class="rl_exp_main clearfix" style="display:none;"></ul>
         <ul class="rl_exp_main clearfix" style="display:none;"></ul>
         <a href="javascript:void(0);" class="close">×</a>
     </div>
 </div>

<script type="text/javascript">
    //连接服务端
    var socket = io('http://'+document.domain+':2120');
    // 连接后登录
    socket.on('connect', function(){
        socket.emit('login', 888);
    });
    // 后端推送来消息时
    socket.on('new_msg', function(msg){
        if($("#name").attr('flag')==msg){
            ChatContent(msg);
        }else {
            var userList2 = MVC('Admin','Chat','userList2');
            $.post(userList2,{},function (data) {
                $("#list").html("");
                for(var i=0;i<data[0].length;i++){
                    var num = 0;
                    for(var k=0;k<data[1].length;k++){
                        if(data[1][k]['h_id']==data[0][i]['h_id']&&data[1][k]['status']==1){
                            num++;
                        }
                    }
                    if(num==0){
                        var a = $("<li>\
                                <img class='avatar' width='30' height='30' src='"+data[0][i]['h_head']+"'>\
                                <p flag='"+data[0][i]['h_id']+"' class='name'>"+data[0][i]['h_nick']+"</p>\
                                <span class='badge'></span>\
                            </li>")
                        $("#list").append(a);
                    }else {
                        var a = $("<li>\
                                <img class='avatar' width='30' height='30' src='"+data[0][i]['h_head']+"'>\
                                <p flag='"+data[0][i]['h_id']+"' class='name'>"+data[0][i]['h_nick']+"</p>\
                                <span class='badge'>"+num+"</span>\
                            </li>")
                        $("#list").append(a);
                    }
                }
            },'json')
        }
    });
    // 后端推送来在线数据时
    socket.on('update_online_count', function(online_stat){
        var user = online_stat;
        var userList = MVC('Admin','Chat','userList');
        $.post(userList,{user:user},function (data) {
            $("#list").html("");
            for(var i=0;i<data[0].length;i++){
                var num = 0;
                for(var k=0;k<data[1].length;k++){
                    if(data[1][k]['h_id']==data[0][i]['h_id']&&data[1][k]['status']==1){
                        num++;
                    }
                }
                if(num==0){
                    var a = $("<li>\
                                <img class='avatar' width='30' height='30' src='"+data[0][i]['h_head']+"'>\
                                <p flag='"+data[0][i]['h_id']+"' class='name'>"+data[0][i]['h_nick']+"</p>\
                                <span class='badge'></span>\
                            </li>")
                    $("#list").append(a);
                }else {
                    var a = $("<li>\
                                <img class='avatar' width='30' height='30' src='"+data[0][i]['h_head']+"'>\
                                <p flag='"+data[0][i]['h_id']+"' class='name'>"+data[0][i]['h_nick']+"</p>\
                                <span class='badge'>"+num+"</span>\
                            </li>")
                    $("#list").append(a);
                }
            }
        },'json')
    });

    $("#list").on("click","li",function () {
        $("#name").html($(this).children("p").text());
        $("#name").attr("flag",$(this).children("p").attr("flag"));
        $(this).children("span").text("");
        var id = $(this).children("p").attr("flag");
        ChatContent(id);
    })

    //点击发送
    $("#send").click(function () {
        var send = MVC('Admin', 'Chat', 'send')
        var msg = $("#send-input").html();
        var h_id = $("#name").attr("flag")
        $.post(send, {h_id: h_id, msg: msg}, function () {
            var ChatContent = MVC("Admin","Chat","ChatContent");
            $.post(ChatContent,{h_id:h_id},function (data) {
                $("#chatBox").html("");
                for(var i=0;i<data[0].length;i++){
                    if(data[0][i]['status']==1){
                        var a = $("<li>\
                                    <p class='time'><span>"+data[0][i]['time']+"</span></p>\
                                    <div class='main'><img class='avatar' width='30' height='30' src='"+data[1][0]['h_head']+"'>\
                                    <div class='text'>"+data[0][i]['msg']+"</div></div>\
                                </li>")
                        $("#chatBox").append(a);
                    }else {
                        var b = $("<li>\
                                <p class='time'><span>"+data[0][i]['time']+"</span></p>\
                                <div class='main self'>\
                                <img class='avatar' width='30' height='30' src='__PUBLIC__/Admin/img/user.jpg'>\
                                <div class='text'>"+data[0][i]['msg']+"</div>\
                                </div>\
                            </li>");
                        $("#chatBox").append(b);
                    }

                }
                $("#msg").scrollTop($('#msg')[0].scrollHeight);//滚动条自动在最底部
            },'json');
        })
        $("#send-input").html("")
    })


    function ChatContent(id){
        var ChatContent = MVC("Admin","Chat","ChatContent");
        $.post(ChatContent,{h_id:id},function (data) {
            $("#chatBox").html("");
            for(var i=0;i<data[0].length;i++){
                if(data[0][i]['status']==1){
                    var a = $("<li>\
                                    <p class='time'><span>"+data[0][i]['time']+"</span></p>\
                                    <div class='main'><img class='avatar' width='30' height='30' src='"+data[1][0]['h_head']+"'>\
                                    <div class='text'>"+data[0][i]['msg']+"</div></div>\
                                </li>")
                    $("#chatBox").append(a);
                }else {
                    var b = $("<li>\
                                <p class='time'><span>"+data[0][i]['time']+"</span></p>\
                                <div class='main self'>\
                                <img class='avatar' width='30' height='30' src='__PUBLIC__/Admin/img/user.jpg'>\
                                <div class='text'>"+data[0][i]['msg']+"</div>\
                                </div>\
                            </li>");
                    $("#chatBox").append(b);
                }

            }
            $("#msg").scrollTop($('#msg')[0].scrollHeight);//滚动条自动在最底部
        },'json');
    }
</script>
</body>
</html>