<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <title>收货地址管理</title>
    <link rel="stylesheet" href="__PUBLIC__/static/resetcss/normalize.css">
    <link rel="stylesheet" href="__PUBLIC__/static/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="__PUBLIC__/static/loading/css/loading.css">
    <link rel="stylesheet" href="__PUBLIC__/Home/css/center/MyAddrStyle.css">
    <script src="__PUBLIC__/static/jquery/jquery.min.js"></script>
    <script type="text/javascript">
        function MVC(p,c,a){
            return "{:U('"+p+"/"+c+"/"+a+"')}";
        }
        var path = "__PUBLIC__/";
    </script>
    <script src="__PUBLIC__/static/bootstrap/js/bootstrap.min.js"></script>
    <script src="__PUBLIC__/static/loading/js/Loading.js"></script> <!--页面加载等待-->
    <script src="__PUBLIC__/static/vue/vue.js"></script>
    <script src="__PUBLIC__/Home/js/center/MyAddr.js"></script>
</head>
<body class="bg">
<header>
    <div class="container con-my-publish">
        <div class="row my-publish">
            <div class="col-xs-2" id="back">
                <img height="20" width="20" src="__PUBLIC__/Home/img/xianyu/aliuser_title_back_normal.9.png">
            </div>
            <div class="col-xs-8  text-center my-publish-title">管理收货地址</div>
        </div>
    </div>
</header>
<div class="container" id="addr">
    <!--__PUBLIC__/Home/img/xianyu/taorecorder_savevideo.png-->
    <!--active-->
    <todo-item  v-for="item in List" v-bind:todo="item">
    </todo-item>

</div>
<footer>
<div class="container-fulid">
    <div class="row">
        <a class="col-xs-12" href={:U('Home/Center/AddAddr')}>
            <button type="button" class="btn btn-add">新增收货地址</button></a>
    </div>
</div>
</footer>
</body>
</html>