<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <title>我的余额</title>
    <link rel="stylesheet" href="__PUBLIC__/static/resetcss/normalize.css">
    <link rel="stylesheet" href="__PUBLIC__/static/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="__PUBLIC__/Home/css/center/MyMoneyStyle.css">
    <link rel="stylesheet" href="__PUBLIC__/static/loading/css/loading.css">
    <script src="__PUBLIC__/static/jquery/jquery.min.js"></script>
    <script type="text/javascript">
        function MVC(p,c,a){
            return "{:U('"+p+"/"+c+"/"+a+"')}";
        }
        var path = "__PUBLIC__/";
    </script>
    <script src="__PUBLIC__/static/layer/mobile/layer.js"></script>
    <script src="__PUBLIC__/static/bootstrap/js/bootstrap.min.js"></script>
    <script src="__PUBLIC__/static/vue/vue.js"></script>
    <script src="__PUBLIC__/static/loading/js/Loading.js"></script> <!--页面加载等待-->
    <script src="__PUBLIC__/Home/static/Package.js"></script>
    <script src="__PUBLIC__/Home/js/center/MyMoney.js"></script>
</head>
<body class="bg">
<header>
    <div class="container con-my-publish">
        <div class="row my-publish">
            <div class="col-xs-4 col-xs-offset-4 text-center my-publish-title">我的余额</div>
        </div>
    </div>
</header>
<div class="container con-money">
    <div class="row con-row">
        <div class="col-xs-6 text-center">
            <img src="__PUBLIC__/Home/img/xianyu/icon_big_coins.png">
            <span>￥</span><span id="money"></span>
        </div>
        <div class="col-xs-6 text-center">
            <button type="button" class="btn btn-money">充值余额</button>
            </div>
    </div>
</div>

<div class="container ban-my-publish">
    <div class="col-sm-12 col-xs-12" id="menu-wrap">
        <div class="menu">
            <nav class="navbar navbar-default" role="navigation">
                <ul class="nav navbar-nav">
                    <li  role="presentation" class="col-xs-6 active text-center">
                        <a href="javascript:">我的优惠券</a>
                    </li>
                    <li  role="presentation" class="col-xs-6 text-center">
                        <a href="javascript:">获取优惠券?</a>
                    </li>
                </ul>
            </nav>
        </div>
    </div>
</div>
<div class="con-yhq">
    <div class="row">
        <div class="col-xs-10 col-xs-offset-1 text-center my-yhq">
            <img src="__PUBLIC__/Home/img/images/yhq.jpg" >
            <span class="price">20</span>
        </div>
        <div class="col-xs-10 col-xs-offset-1 text-center my-yhq">
            <img src="__PUBLIC__/Home/img/images/yhq.jpg" >
            <span class="price">10</span>
        </div>
    </div>
</div>

</body>
</html>