<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <title>我卖出的</title>
    <link rel="stylesheet" href="__PUBLIC__/static/resetcss/normalize.css">
    <link rel="stylesheet" href="__PUBLIC__/static/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="__PUBLIC__/Home/css/center/MyBuyStyle.css">
    <link rel="stylesheet" href="__PUBLIC__/static/loading/css/loading.css">
    <script src="__PUBLIC__/static/jquery/jquery.min.js"></script>
    <script src="__PUBLIC__/static/layer/mobile/layer.js"></script>
    <script type="text/javascript">
        function MVC(p,c,a){
            return "{:U('"+p+"/"+c+"/"+a+"')}";
        }
        var path = "__PUBLIC__/";
    </script>
    <script src="__PUBLIC__/static/bootstrap/js/bootstrap.min.js"></script>
    <script src="__PUBLIC__/static/vue/vue.js"></script>
    <script src="__PUBLIC__/static/loading/js/Loading.js"></script> <!--页面加载等待-->
    <script src="__PUBLIC__/Home/static/Package.js"></script>
    <script type="text/javascript">
        $(function () {
            var sale = MVC('Home','Center','sale');
            $.post(sale,{},function (data) {
                var flag = 0;
                for(var i=0;i<data[2].length;i++){
                    if(data[2][i]['o_status']==0){var state='交易关闭'}
                    if(data[2][i]['o_status']==1){var state='未付款'}
                    if(data[2][i]['o_status']==2){var state='已付款'}
                    if(data[2][i]['o_status']==3){var state='已发货'}
                    if(data[2][i]['o_status']==4){var state='已收货'}
                    if(data[2][i]['o_status']==5){var state='交易成功'}
                }
                for(var i=0;i<data[0].length;i++){
                    for(var j=0;j<data[1].length;j++){
                        if(data[0][i]['n_id']==data[1][j]['n_id']){
                            var goods=new  Package_MyBuy(""+data[1][j]['n_img']+"",""+data[0][i]['n_name']+"",""+data[0][i]['n_price']+"",state,""+data[0][i]['n_id']+"");
                            goods.setFather("goods");
                            flag = 1;
                            break;
                        }
                    }
                }
                if(flag==1){
                    $("#boxDiv").html("");
                }
            },'json')
            $('.back').click(function () {
                window.location.href=MVC("Home","Center","Center");
            })
        })
        //删除订单
        function fun1(id) {
            var del = MVC('Home','Center','delOrder');
            layer.open({
                content: '您确定要删除订单吗？'
                ,btn: ['确定', '取消']
                ,yes: function(index){
                    $.post(del,{id:id},function (data) {
                        layer.open({
                            content: '删除成功！'
                        })
                        window.location.reload();
                    })
                }
            });

        }
    </script>
</head>
<body class="bg">
<header>
    <div class="container con-my-publish">
        <div class="row my-publish">
            <div class="col-xs-2 back"><img src="__PUBLIC__/Home/img/xianyu/aliuser_title_back_normal.9.png" width="20" height="20"></div>
            <div class="col-xs-4 col-xs-offset-2 text-center my-publish-title">我卖出的</div>
        </div>
    </div>
</header>
<footer>
    <div id="boxDiv" class="container">
        <div class="row">
            <div class="col-xs-6 text-center col-xs-offset-3"><img src="__PUBLIC__/Home/img/xianyu/page_empty.png" class="logo1"></div>
        </div>
        <div class="row">
            <div class="col-xs-6 text-center col-xs-offset-3"><span class="baby-span">您还没有卖出宝贝~</span></div>
        </div>

    </div>
</footer>
<div id="goods"></div>
</body>
</html>