<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <title>我赞过的</title>
    <script src='//cdn.bootcss.com/socket.io/1.3.7/socket.io.js'></script>
    <script src='//cdn.bootcss.com/jquery/1.11.3/jquery.js'></script>
    <link rel="stylesheet" href="__PUBLIC__/static/resetcss/normalize.css">
    <link rel="stylesheet" href="__PUBLIC__/static/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="__PUBLIC__/Home/css/center/MyZanStyle.css">
    <link rel="stylesheet" href="__PUBLIC__/static/loading/css/loading.css">
    <link rel='stylesheet' href='__PUBLIC__/static/sendMsg/css/animate.min.css'>
    <link rel="stylesheet" href="__PUBLIC__/static/sendMsg/css/notification.css">
    <script src="__PUBLIC__/static/jquery/jquery.min.js"></script>
    <script src="__PUBLIC__/static/sendMsg/js/notification.js"></script>
    <script src="__PUBLIC__/static/bootstrap/js/bootstrap.min.js"></script>
    <script src="__PUBLIC__/static/loading/js/Loading.js"></script> <!--页面加载等待-->
    <script src="__PUBLIC__/static/vue/vue.js"></script>
    <script type="text/javascript">
        function MVC(p,c,a){
            return "{:U('"+p+"/"+c+"/"+a+"')}";
        }
        var path = "__PUBLIC__/";
    </script>
    <script src="__PUBLIC__/Home/static/Package.js"></script>
    <script src="__PUBLIC__/Home/js/center/MyZan.js"></script>
    <script src="__PUBLIC__/Home/static/push.js"></script>
</head>
<body class="bg">
<header>
    <div class="container con-my-publish">
        <div class="row my-publish">
            <div class="col-xs-2 back"><img src="__PUBLIC__/Home/img/xianyu/aliuser_title_back_normal.9.png" width="20" height="20"></div>
            <div class="col-xs-4 col-xs-offset-2 text-center my-publish-title">我赞过的</div>
        </div>
    </div>
</header>
<div class="container ban-my-publish">
    <div class="col-sm-12 col-xs-12" id="menu-wrap">
        <div class="menu">
            <nav class="navbar navbar-default" role="navigation">
                <ul class="nav navbar-nav">
                    <li  role="presentation" class="col-sm-4 col-xs-4 col-sm-offset-1 col-xs-offset-1 active text-center">
                        <a href="javascript:">宝贝</a>
                    </li>

                    <li  role="presentation" class="col-sm-4 col-xs-4 col-sm-offset-2 col-xs-offset-2 text-center">
                        <a href="javascript:">问答</a>
                    </li>
                </ul>
            </nav>
        </div>
    </div>
</div>
<footer>
    <div class="container showno">
        <div class="row">
            <div class="col-xs-6 text-center col-xs-offset-3"><img src="__PUBLIC__/Home/img/xianyu/page_empty.png" class="logo1"></div>
        </div>
        <div class="row">
            <div class="col-xs-6 text-center col-xs-offset-3"><span class="baby-span">还没有赞过宝贝哦~</span></div>
        </div>
    </div>
</footer>
<div id="goods">

</div>
</body>
</html>