<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <title>Title</title>
    <link rel="stylesheet" href="__PUBLIC__/static/resetcss/normalize.css">
    <link rel="stylesheet" href="__PUBLIC__/static/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="__PUBLIC__/home/css/center/PersonalInfoStyle.css">
    <script src="__PUBLIC__/static/jquery/jquery.min.js"></script>
    <script src="__PUBLIC__/static/bootstrap/js/bootstrap.min.js"></script>
    <script src="__PUBLIC__/static/vue/vue.js"></script>
</head>
<body class="bg">
<div class="container background">
    <div class="row">
        <div class="col-xs-2"><img src="__PUBLIC__/home/img/images/fh.png"></div>
        <div class="col-xs-1 col-xs-offset-7"><img src="__PUBLIC__/home/img/images/zf.png"></div>
        <div class="col-xs-1"><img src="__PUBLIC__/home/img/images/ewm.png"></div>
    </div>
    <div class="row camera">
        <div class="col-xs-6"><img src="__PUBLIC__/home/img/images/camera.png"></div>
    </div>
</div>
<header>
    <div class="container userMsg">
        <div class="row text-left main">
            <div class="col-xs-8">
                <h5>我的昵称</h5>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row text-center num1">
            <div class="col-xs-4">0</div>
            <div class="col-xs-4">0</div>
            <div class="col-xs-4">0</div>
        </div>
        <div class="row text-center num2">
            <div class="col-xs-4">被赞</div>
            <div class="col-xs-4">等级</div>
            <div class="col-xs-4">信誉</div>
        </div>
    </div>
</header>
<div class="container-fluid content">
    <div class="row text-left main">
        <div class="col-xs-1"></div>
        <div class="col-xs-11 text">
            <div class="col-xs-2 text1">头像</div>
            <div class="col-xs-3 text-center text2"><img src="__PUBLIC__/home/img/xianyu/entry_icon_sold.png" class="img-circle"></div>
            <div class="col-xs-2 col-xs-offset-5"><img src="__PUBLIC__/home/img/xianyu/entry_arrow.png" class="logo2"></div>
        </div>
    </div>
    <div class="row text-left main">
        <div class="col-xs-1"></div>
        <div class="col-xs-11 text">
            <div class="col-xs-2 text1">性别</div>
            <div class="col-xs-3 text-center text2">男</div>
            <div class="col-xs-2 col-xs-offset-5"><img src="__PUBLIC__/home/img/xianyu/entry_arrow.png" class="logo2"></div>
        </div>
    </div>
    <div class="row text-left main">
        <div class="col-xs-1"></div>
        <div class="col-xs-11 text">
            <div class="col-xs-6 text1">登录密码</div>
            <div class="col-xs-4 text-right text2"></div>
            <div class="col-xs-2 "><img src="__PUBLIC__/home/img/xianyu/entry_arrow.png" class="logo2"></div>
        </div>
    </div>
    <div class="row text-left main">
        <div class="col-xs-1"></div>
        <div class="col-xs-11 text">
            <div class="col-xs-6 text1">支付密码</div>
            <div class="col-xs-4 text-right text2"></div>
            <div class="col-xs-2 "><img src="__PUBLIC__/home/img/xianyu/entry_arrow.png" class="logo2"></div>
        </div>
    </div>
    <div class="row text-left main">
        <div class="col-xs-1"></div>
        <div class="col-xs-11 text">
            <div class="col-xs-6 text1">收货地址</div>
            <div class="col-xs-4 text-right text2"></div>
            <div class="col-xs-2 "><img src="__PUBLIC__/home/img/xianyu/entry_arrow.png" class="logo2"></div>
        </div>
    </div>
</div>

<footer >
    <div class="container">
                <div class="row text-center publish ">
                    <div class="col-xs-4 col-xs-offset-4">
                    <img src="__PUBLIC__/Home/img/xianyu/publish_in_pond.png" alt="">
                </div>
            </div>
        </div>
</footer>
</body>
</html>