<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <title>Title</title>
    <link rel="stylesheet" href="__PUBLIC__/static/resetcss/normalize.css">
    <link rel="stylesheet" href="__PUBLIC__/static/bootstrap/css/bootstrap.min.css">
    <script src="__PUBLIC__/static/jquery/jquery.min.js"></script>
    <script src="__PUBLIC__/static/bootstrap/js/bootstrap.min.js"></script>
    <script src="__PUBLIC__/static/vue/vue.js"></script>
    <style>
        .bg{
            background: url(__PUBLIC__/home/img/xianyu/match_no_more.png);
        }
    </style>
</head>
<body>
<div class="container bg">
    <div class="row">
        <div class="col-xs"></div>
    </div>
</div>
</body>
</html>