<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <title>个人信息</title>
    <link rel="stylesheet" href="__PUBLIC__/static/resetcss/normalize.css">
    <link rel="stylesheet" href="__PUBLIC__/static/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="__PUBLIC__/static/publish/css/style.css">
    <link rel="stylesheet" href="__PUBLIC__/static/loading/css/loading.css">
    <link rel="stylesheet" href="__PUBLIC__/Home/css/center/PersonalInfoStyle.css">
    <script src="__PUBLIC__/static/jquery/jquery.min.js"></script>
    <!--引入插件js-->
    <script src="__PUBLIC__/static/mobisscroll/dev/js/mobiscroll.core-2.5.2.js"></script>
    <script src="__PUBLIC__/static/mobisscroll/dev/js/mobiscroll.core-2.5.2-zh.js"></script>
    <link rel="stylesheet" href="__PUBLIC__/static/mobisscroll/dev/css/mobiscroll.core-2.5.2.css">
    <link rel="stylesheet" href="__PUBLIC__/static/mobisscroll/dev/css/mobiscroll.animation-2.5.2.css">
    <script src="__PUBLIC__/static/mobisscroll/dev/js/mobiscroll.android-ics-2.5.2.js"></script>
    <link rel="stylesheet" href="__PUBLIC__/static/mobisscroll/dev/css/mobiscroll.android-ics-2.5.2.css">
    <script src="__PUBLIC__/static/mobisscroll/dev/js/mobiscroll.list-2.5.1.js"></script>
    <script src="__PUBLIC__/static/mobisscroll/dev/js/mobiscroll.select-2.5.1.js"></script>
    <script src="__PUBLIC__/static/bootstrap/js/bootstrap.min.js"></script>
    <script src="__PUBLIC__/static/layer/mobile/layer.js"></script>
    <script src="__PUBLIC__/static/publish/js/main.js"></script>
    <script src="__PUBLIC__/static/vue/vue.js"></script>
    <script src="__PUBLIC__/static/loading/js/Loading.js"></script> <!--页面加载等待-->
    <script src="__PUBLIC__/Home/js/center/PersonalInfo.js"></script>
    <script>
        function MVC(p,c,a){
            return "{:U('"+p+"/"+c+"/"+a+"')}";
        }
    </script>
</head>
<body class="bg">
<div class="container con-my-publish">
    <div class="row my-publish">
        <div class="col-xs-4 text-left">
            <button id="save" type="button" class="btn btn-yel">保存</button>
        </div>
        <div class="col-xs-4 text-center my-publish-title">我的资料</div>
        <div class="col-xs-4 text-right">
            <button type="button" class="btn btn-yel" id="cancel">取消</button>
        </div>
    </div>
</div>
<header>
    <div class="container userMsg">
        <div class="row text-center main">
            <div class="col-xs-4">
                <h5>基本信息</h5>
            </div>
        </div>
    </div>
</header>
<div class="container content">
    <div class="row text-left main">
        <div class="col-xs-1"></div>
        <div class="col-xs-11 text">
            <div class="col-xs-2 text1">头像</div>
            <div class="col-xs-3 text-center text2"><img id="tx" src="__PUBLIC__/Home/img/xianyu/aliuser_place_holder.jpg" class="img-circle"></div>
            <div class="col-xs-2 col-xs-offset-5"><img src="__PUBLIC__/Home/img/xianyu/entry_arrow.png" class="logo2"></div>
        </div>
    </div>
    <div class="row text-left main">
        <div class="col-xs-1"></div>
        <div class="col-xs-11 text sex">
            <div class="col-xs-2 text1">性别</div>
            <div class="col-xs-3 text-center text2">
                <select name="sex" id="sex">
                    <option value="1">男</option>
                    <option value="2">女</option>
                </select>
            </div>
            <div class="col-xs-2 col-xs-offset-5"><img src="__PUBLIC__/Home/img/xianyu/entry_arrow.png" class="logo2"></div>
        </div>
    </div>
    <div class="row text-left main">
        <div class="col-xs-1"></div>
        <div class="col-xs-11 text">
            <div class="col-xs-2 text1">手机</div>
            <div class="col-xs-3 text-center text2">
                <input id="tel" type="tel" value="" />
            </div>
            <div class="col-xs-2 col-xs-offset-5"><img src="__PUBLIC__/Home/img/xianyu/entry_arrow.png" class="logo2"></div>
        </div>
    </div>
    <div class="row text-left main">
        <div class="col-xs-1"></div>
        <div class="col-xs-11 text">
            <div class="col-xs-2 text1">邮箱</div>
            <div class="col-xs-3 text-center text2">
                <input id="email" type="email" value=""></div>
            <div class="col-xs-2 col-xs-offset-5"><img src="__PUBLIC__/Home/img/xianyu/entry_arrow.png" class="logo2"></div>
        </div>
    </div>
    <div class="row text-left main">
        <div class="col-xs-1"></div>
        <div class="col-xs-11 text load-pwd">
            <div class="col-xs-6 text1">登录密码</div>
            <div class="col-xs-4 text-right text2"></div>
            <div class="col-xs-2 "><img src="__PUBLIC__/Home/img/xianyu/entry_arrow.png" class="logo2"></div>
        </div>
    </div>
    <div class="row text-left main">
        <div class="col-xs-1"></div>
        <div class="col-xs-11 text">
            <div class="col-xs-6 text1 pay-pwd">支付密码</div>
            <div class="col-xs-4 text-right text2"></div>
            <div class="col-xs-2 "><img src="__PUBLIC__/Home/img/xianyu/entry_arrow.png" class="logo2"></div>
        </div>
    </div>
</div>

<footer >
    <div class="container">
                <div class="row text-center publish ">
                    <div class="col-xs-4 col-xs-offset-4 cd-bouncy-nav-trigger">
                    <img src="__PUBLIC__/Home/img/xianyu/publish_in_pond.png" alt="">
                </div>
            </div>
        </div>
</footer>
<div class="sucaihuo-container">
    <div class="cd-bouncy-nav-modal">
        <nav><ul class="cd-bouncy-nav">
        <li><a href="{:U('Home/Publish/Publish')}">卖二手</a></li>
        <li><a href="{:U('Home/Publish/PublishAuction')}">拍卖</a></li>
        <li><a href="#">发布流程</a></li>
        </ul></nav>
       <a href="#0" class="cd-close">Close modal</a>
    </div>
</div>
</body>
</html>