<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <title>我的下架商品</title>
    <link rel="stylesheet" href="__PUBLIC__/static/resetcss/normalize.css">
    <link rel="stylesheet" href="__PUBLIC__/static/bootstrap/css/bootstrap.min.css">
    <script src="__PUBLIC__/static/layer/mobile/layer.js"></script>
    <link rel="stylesheet" href="__PUBLIC__/Home/css/center/UnderSaleStyle.css">

    <link rel="stylesheet" href="__PUBLIC__/static/loading/css/loading.css">
    <script src="__PUBLIC__/static/jquery/jquery.min.js"></script>
    <script src="__PUBLIC__/static/bootstrap/js/bootstrap.min.js"></script>
    <script src="__PUBLIC__/static/vue/vue.js"></script>
    <script src="__PUBLIC__/static/loading/js/Loading.js"></script> <!--页面加载等待-->

    <link rel="stylesheet" href="__PUBLIC__/Home/css/center/MyPublishStyle.css">
    <script src="__PUBLIC__/static/jquery/jquery.min.js"></script>
    <script src="__PUBLIC__/static/bootstrap/js/bootstrap.min.js"></script>
    <script src="__PUBLIC__/static/vue/vue.js"></script>
    <script src="__PUBLIC__/Home/static/Package.js"></script>
    <script>
        function MVC(p,c,a){
            return "{:U('"+p+"/"+c+"/"+a+"')}";
        }
        var RelGoods = MVC('Home','Center','RelGoods');
        $.post(RelGoods,{},function (data) {
            var falg = 0;
            if(data!=''){
                for(var i=0;i<data[0].length;i++){
                    if(data[0][i]['n_status']==0){
                        for(var j=0;j<data[1].length;j++){
                            if(data[0][i]['n_id']==data[1][j]['n_id']){
                                var mygoods=new Package_Publish2(""+data[1][j]['n_img']+"",""+data[0][i]['n_name']+"",""+data[0][i]['n_price']+"",'20','20','99',""+data[0][i]['n_id']+"");
                                mygoods.setFather('goods');
                                falg = 1;
                                break;
                            }
                        }
                    }
                }
            }

            if(falg==1){
                $("#boxDiv").html("");
            }
        },'json')

        //点击上架
        function fun1(a) {
            var shelves2 = MVC('Home','Center','shelves2');
            $.post(shelves2,{n_id:a},function () {
                layer.open({
                    content:'上架成功！',
                    time:0,
                    btn:['确定'],
                    yes:function(index){
                        layer.close(index);
                        window.location.reload();
                    }
                })
            })
        }

    </script>

</head>
<body class="bg">
<header>
    <div class="container con-my-publish">
        <div class="row my-publish">
            <div class="col-xs-4 col-xs-offset-4 text-center my-publish-title">下架宝贝</div>
        </div>
    </div>
</header>
<footer>
    <div id="boxDiv" class="container">
        <div class="row">
            <div class="col-xs-6 text-center col-xs-offset-3"><img src="__PUBLIC__/Home/img/xianyu/page_empty.png" class="logo1"></div>
        </div>
        <div class="row">
            <div class="col-xs-6 text-center col-xs-offset-3"><span class="baby-span">没有下架的宝贝~</span></div>
        </div>

    </div>
</footer>
<div id="goods">

</div>
</body>
</html>